*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.container{
  padding: 50px 0;
}

.slider-wrapper{
  width: 60%;
  margin: auto;
  height: 70vh;
  position: relative;
}

.direction{
  font-size: 100px;
  color:red;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
}

#left{
  left:0;
}

#right{
  right:0;
}

.img-container{
  width: 100%;
  height: 100%;
}

.img-container img{
  width: 100%;
  height: 100%;
}

/* bonus */
.cursor{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.point{
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 5px solid red;
  margin: 5px;
}

.bg-red{
  background-color: red;
}

.automatic-play{
  margin-top: 30px;
  text-align: center;
}
